<h1> Crear un Ticket</h1> 


  <form name="ticketsForm">
    <fieldset>
    Nombre: <input name="nombre" id="nombre" type="text" data-ng-model="ticket.nombre" /><br />
    Apellido: <input type="text" ng-model="apellido" /><br />
    E-mail: <input type="email" ng-model="email" /><br />
    Celular: <input type="email" ng-model="celular" /><br />
    Asunto: </br>
    <select ng-model="seleccionAsuntos" ng-options="asunto as asunto.name for asunto in asuntos">
    	<option value="">---seleccionar---</option>
    </select><br>
    
    <p ng-if="seleccionAsuntos.name=='Problema' || seleccionAsuntos.name=='Queja'">Servicio:</p>
    <select ng-if="seleccionAsuntos.name=='Problema' || seleccionAsuntos.name=='Queja'" ng-model="seleccionServicio" ng-options="servicio as servicio.name for servicio in servicios">
    	<option value="">---seleccionar---</option>
    </select><br>
    
    <p ng-if="seleccionAsuntos.name=='Problema'">Problema:</p>
    <select ng-if="seleccionAsuntos.name=='Problema'" ng-model="seleccionProblema" ng-options="problema as problema.name for problema in problemas">
    	<option value="">---seleccionar---</option>
    </select><br>

    </br>
    <span ng-if="seleccionAsuntos.name=='Problema'">Problema:</span></br>
    <span ng-if="seleccionAsuntos.name=='Queja'">Queja:</span></br>
    <span ng-if="seleccionAsuntos.name=='Sugerencia'">Sugerencia:</span></br>
      

    <textarea ng-if="seleccionAsuntos.name=='Problema' || seleccionAsuntos.name=='Queja' || seleccionAsuntos.name=='Sugerencia'" rows="4" cols="50">{{seleccionAsuntos.name}}</textarea>

    
    <button data-ng-click="saveTickets()" ng-if="seleccionAsuntos.name=='Problema' || seleccionAsuntos.name=='Queja' || seleccionAsuntos.name=='Sugerencia'">Create</button>
   </fieldset>
   </form>
    